<?xml version="1.0" encoding="UTF-8"?>

<!--   <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> -->

<suite name="Sightline QA automation">

<suite-files>

  <listeners>
        <listener class-name="executionMaintenance.TestListener"></listener>
 </listeners>   
	
	<!-- Consilio Smoke Test -->
    <!--  <suite-file path="./smokeSuite.xml"/> -->
    <!-- Consilio Regression Test --> 
  	<suite-file path="./regressionSuite.xml" />
  	
 </suite-files>

</suite>
